	loose-default_character_set=utf8mb4	
		
	[mysqld]	
        character_set_server=utf8mb4
        explicit_defaults_for_timestamp=true
        server_id=1
        log_bin=mysqld1-bin
        # log_slave_updates   # chained replication
        binlog_format=MIXED

        # gtid_mode=ON
        # enforce_gtid_consistency=1

        #https://qiita.com/mamy1326/items/9c5eaee3c986cff65a55
        # innodb_buffer_pool_size 80% of memory
        # innodb_log_file_size 1/4 of buffer_pool_size
        # innodb_additional_mem_pool_size is Depricated

        innodb_file_per_table=ON
        # innodb_buffer_pool_size = 6G
	innodb_buffer_pool_size = 512M
        # innodb_log_file_size = 1G
	innodb_log_file_size = 128M
        innodb_log_buffer_size=64M
        join_buffer_size=256K
